.preloader
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: black
    z-index: 4
    transition: 1s all
    opacity: 0.9
    visibility: visible
    &.done
        opacity: 0
        visibility: hidden
.loader
    position: absolute
    width: 150px
    height: 150px
    background: url(../img/logo/11.png) no-repeat center
    background-size: cover
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    animation: 2s spin infinite linear

@keyframes spin 
    from 
        transform: translate(-50%, -50%) rotate(0deg)
    to 
        transform: translate(-50%, -50%) rotate(360deg)

    
.logo
    background: url(../img/logo/glebkiselev-logo.svg) no-repeat center
    &_white
        background: url(../img/logo/glebkiselev-logo_white.svg) no-repeat center


    
            
            

