.about-me
    width: 100%
    height: 50vh
    max-height: 540px
    padding: 0
    margin: 0
    padding-top: 10vh
    &__wrap
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        flex-direction: column
    &__img
        width: 200px
        border-radius: 50%
    &__title
        font-family: sans-serif
        font-size: 200%
    &__text
        font-family: sans-serif
        font-size: 120%
        text-align: center
        