.navbar
    width: 900px
    margin: auto

.menu
    padding-top: 40px
    margin: 0
    list-style: none
    display: flex
    justify-content: space-around

    &__link
        text-decoration: none
        color: white
        font-size: 25px
        font-family: sans-serif

        &:hover
            text-decoration: underline

@media only screen and (max-width: 1020px)
    .navbar
        width: 100%

@media only screen and (max-width: 720px)
    .menu
        display: none
