.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 4;
  transition: 1s all;
  opacity: 0.9;
  visibility: visible; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

.loader {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(../img/logo/11.png) no-repeat center;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 2s spin infinite linear; }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.logo {
  background: url(../img/logo/glebkiselev-logo.svg) no-repeat center; }
  .logo_white {
    background: url(../img/logo/glebkiselev-logo_white.svg) no-repeat center; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.hero {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  background: url(../img/hero/hero_1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 3; }
  .hero:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background-color: black;
    z-index: -2; }
  .hero__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px; }

@media only screen and (max-width: 720px) {
  .hero {
    background-position: top right; } }

.navbar {
  width: 900px;
  margin: auto; }

.menu {
  padding-top: 40px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around; }
  .menu__link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: sans-serif; }
    .menu__link:hover {
      text-decoration: underline; }

@media only screen and (max-width: 1020px) {
  .navbar {
    width: 100%; } }

@media only screen and (max-width: 720px) {
  .menu {
    display: none; } }

.about-me {
  width: 100%;
  height: 50vh;
  max-height: 540px;
  padding: 0;
  margin: 0;
  padding-top: 10vh; }
  .about-me__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .about-me__img {
    width: 200px;
    border-radius: 50%; }
  .about-me__title {
    font-family: sans-serif;
    font-size: 200%; }
  .about-me__text {
    font-family: sans-serif;
    font-size: 120%;
    text-align: center; }

.contact {
  height: 50vh;
  max-height: 540px;
  width: 100%;
  padding-top: 15vh; }
  .contact__wrap {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-around; }
  .contact__title {
    flex-basis: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 200%; }
  .contact__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0; }
  .contact__item {
    margin: 10px;
    width: 160px; }
  .contact__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contact__link:hover .logo-vk:after {
      transform: translate(-50%, -50%) scale(1); }
    .contact__link:hover .fa-vk {
      color: white; }
    .contact__link:hover .logo-telegram:after {
      transform: translate(-50%, -50%) scale(1); }
    .contact__link:hover .fa-telegram-plane {
      color: white; }
    .contact__link:hover .logo-inst:after {
      transform: translate(-50%, -50%) scale(1); }
    .contact__link:hover .fa-instagram {
      color: white; }
    .contact__link:hover .logo-git:after {
      transform: translate(-50%, -50%) scale(1); }
    .contact__link:hover .fa-gitlab {
      color: white; }
    .contact__link:hover .logo-email:after {
      transform: translate(-50%, -50%) scale(1); }
    .contact__link:hover .fa-address-book {
      color: white; }
  .contact__logo {
    position: relative;
    margin-bottom: 15px; }
  .contact__nic, .contact__name {
    color: black;
    font-family: sans-serif;
    font-size: 90%; }
  .contact__name {
    font-size: 70%; }

.logo-vk {
  position: relative; }
  .logo-vk:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #597da3;
    transition: all .1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; }

.logo-telegram {
  position: relative; }
  .logo-telegram:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #0088cc;
    transition: all .1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; }

.logo-inst {
  position: relative; }
  .logo-inst:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #833AB4;
    transition: all .1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; }

.logo-git {
  position: relative; }
  .logo-git:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #fc6d26;
    transition: all .1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; }

.logo-email {
  position: relative; }
  .logo-email:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: black;
    transition: all .1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; }

.fab, .fas {
  font-size: 50px; }

.fa-vk {
  color: #597da3; }

.fa-telegram-plane {
  color: #0088cc; }

.fa-instagram {
  color: #833AB4; }

.fa-gitlab {
  color: #fc6d26; }

.fa-address-book {
  color: black; }

@media only screen and (max-width: 1020px) {
  .contact__wrap {
    width: 100%; }
  .contact__list {
    justify-content: center; }
  .contact__item {
    flex-basis: 30%; } }

/*# sourceMappingURL=style.css.map */
